<div id="address"  >
        <div>
            <span>First Name</span>
            <input type="text" id="txtFirstName" />
        </div>
        <div>
            <span>Last Name</span>
            <input type="text" id="txtLastName" />
        </div>
        <div>
            <span>Email</span>
            <input type="email" id="txtEmail" />
        </div>
        <div>
            <span>Phone Number</span>
            <input type="text" id="txtPhoneNumber" />
        </div>
        <div>
            <span>Address</span>
            <textarea id="txtAddress"></textarea>
        </div>
        <div>
            <span>ZipCode</span>
            <input type="text" id="txtCodeName" />
        </div>

    </div>

