
@{
    ViewBag.Title = "CompanyInfo";
}

<div class="banner">
    <div class="wrapper1">
        <img src="~/Content/Images/NewImages/banners/03.jpg" />

    </div>
</div>

<div class="main_content ">
    <div class="wrapper">
        <div class="subpage product-listpage">
            <h2 class="border-bottom mt-3">Company Profile</h2>
            <div class="row">
                <div class="col-lg-12 genparas">

                    <p>We are PetalPrice, one of the most sought-after online florist services in the country. We at PetalPrice believe in delivering only the best, freshest and colorful flower bouquets in all forms and for all occasions. We believe that gifting fresh flower bouquets is an art and we strive hard to convey your wishes in the most special way by bringing in the right mix of flowers for the appropriate day or occasion. </p>
                    <p>Be it a birthday, wedding, anniversary, any special day or festive seasons, our services are totally accessible all through the year. Our staffs of florists and designers at PetalPrice arrive with years of experience in handling and also specialize in customizing and arranging the bouquets as per our customer’s needs. Our well-equipped stock of flowers and highly knowledgeable staff are here to offer the best in the form of arranging the best flowers suitable for the right occasion. All our services are offered at convenient and affordable prices and also for those who feel that gifting is a no-expense barred activity. </p>
                    <p>Don’t fret if you’re not sure what flower to gift to your special ones. Just call us and one of our skilled florists will assist you in choosing the right amount of flowers for the right occasion and ensure to deliver that flower bouquet right at your doorstep at the right time. Go ahead and give us a call or visit our website now and order from our varied list of flower bouquets designed expertly for that special day of yours.</p>
                </div>
            </div>
        </div>
    </div>
</div>



