
@{
    ViewBag.Title = "Disclaimer";
}

<div class="banner">
    <div class="wrapper1">
        <img src="~/Content/Images/NewImages/banners/02.jpg" />

    </div>
</div>

<div class="main_content ">
    <div class="wrapper">
        <div class="subpage product-listpage">
            <h2 class="border-bottom mt-3">Disclaimer</h2>
            <div class="row">
                <div class="col-lg-12 genparas">
                    <p>Substitution Policy- The photos, images displayed on Petal Price’s site showcases the overall theme and style of the arrangements. Our designers may make appropriate substitutions of flowers, other accessories or colors due to availability and season that may not exactly match the depicted photo or image from our site, but will maintain the overall tone and feeling of the arrangement chosen.  Our skilled florists hand selects the best flowers available each and every day ensuring the highest quality and style for all of our creations.  Any substitutions offered will reflect an equal or higher value as appeared.</p>
                    <p>Return Policy- Contact us at support@petal price.com within 24 hours of purchase if you’re unsatisfied with your order. Please include a photo so that we can fully grasp the issue and provide a remedy accordingly. We do not provide refunds on every rejected occasion, but we will try to replace them with a fresh arrangement. Upon redelivery, we’ll take the arrangement that didn’t satisfy you off your hands and hence request you not to dispose them as trash.</p>
                    <p>Delivery Policy- As for now, our direct delivery zones includes all cities, towns and precincts falling under the United States of America region. Once delivered, our door delivery agents will not take back or do refunds subject to proper validation or investigation of the claim. If you’re dissatisfied by our product arrangement or come across any damaged products from our delivery services, please reach out to us via our 24/7 helpline.</p>
                    <p>Product Care Policy- Kindly note that the average lifespan of a cut floral arrangement may last anywhere from 3 to 7 days. Ensure that fresh water be provided to cut flowers daily. Try to keep flowers in a cool spot, away from direct sunlight, heating or cooling vents, directly under ceiling fans, or on top of televisions or radiators in order to ensure longest life span. Please note that all flowers, plants, and trees are living things and responsibility solely relies on the recipient to follow any care instructions provided to ensure longest life possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>


