
@{
    ViewBag.Title = "TermsConditions";
}

<div class="banner">
    <div class="wrapper1">
        <img src="~/Content/Images/NewImages/banners/01.jpg" />

    </div>
</div>

<div class="main_content ">
    <div class="wrapper">
        <div class="subpage product-listpage">
            <h2 class="border-bottom mt-3">Terms &amp; Conditions</h2>
            <div class="row">
                <div class="col-lg-12 genparas">
                    1) How to place an order online?
                    Follow these simple steps: Select flower type – Select the occasion- Pick your favorite bouquet- Add a little something extra (accessories) – Click on ‘customize’- Fill in recipient details - Make your gift extra special by adding your own personalized message card (optional) – Click on request a quote and one of our florists will contact your and will assist you in placing the order along with the payment process.
                    2) Do you do “Urgent Delivery”?
                    Yes we do. If you require a very urgent delivery service please connect with us online or call 123-4567890 and we shall be more than glad to assist you.
                    3) Do you do “Same Day Delivery”?
                    We offer a same day delivery service for all orders placed before 2pm. We also have a 3 hour express delivery option Monday through Friday. If you require this service please contact us and we shall advise on availability and pricing.
                    4) Can I order a combination of flowers which is not specifically displayed on your website?
                    Yes. Our speciality is customizing based on your needs. Just let us know what combination of flowers you prefer as we specialize in customizing them and do our best to meet your special request.
                    5) Can I enclose my personal message together?
                    Oh yes, you can! Enclose your personal message or a note on our free greeting card.
                    6) My recipient is living alone and works during daytime. What time in the evening can you deliver the flowers? What happens if my recipient is not home at the time of delivery?
                    Not to worry. Just give us your time frame request. In case the recipient is not home, we'll leave a note of non-delivery for the recipient. The recipient can call us to make an arrangement for delivery.
                    7) I often send the flowers, but sometimes they die shortly. Can I be assured that the flowers that I send are fresh?
                    Of course, yes! Our flowers are freshly cut and delivered directly from our associated flower growers. We guarantee you that all our items come with a letter of guarantee for quality & freshness. In addition, we have our own dedicated staff to offer professional advices to customers' care-questions, etc.
                    8) How will I know that my order got delivered?
                    We will email you delivery confirmation once the order has been successfully delivered.
                    9) What if you attempt delivery and no one’s home?
                    We assess each delivery situation on an individual basis.  If the delivery location looks safe with a protected area to keep the bouquet shaded and away from the elements, we will leave it there and follow up with a phone call to the recipient.  If we are unable to leave it at the residence, we try to leave it with a neighbor.  If both these options are unavailable, we then leave a tag on the recipients door letting them know we were there for a special delivery.  We ask that they call us to arrange a new delivery or they may come to our shop and pick up their bouquet.
                    10) How do I make my flowers last longer?
                    The best way to keep your flowers fresh is to always keep the water level of the container as full as possible.  Flowers not only consume water through the end of the stem, but also through the sides of the stems.  Keep your bouquet in a cool location in your home, away from direct sunlight or electronics and appliances that give off heat.
                    11) Where do your flowers come from?
                    We order our flowers from wholesalers who buy straight from the growers.  Fresh cut varieties you see in shops today are grown all over the world, in South America, Europe, Australia, Africa, and domestic nurseries in California, Florida and other warm climate states in America.
                    12) Why does the price of flowers go up during holidays?
                    Like any other producing markets, the prices of products are largely dictated by supply and demand.  For example, for Valentine’s Day, on average, more than 100 million roses are sold nationwide. Growers start on their rose crops after Christmas and require additional labor at all levels of production. Since the holiday falls in the middle of winter there are higher heating costs, and because of the volume of roses, additional transportation and delivery costs are involved.  Each of these factors attributes to the rise in cost of flowers during Valentine’s and other major floral holidays.
                    13) Can you deliver the flowers anywhere in USA?
                    Yes, we deliver ordered flowers directly from our numerous associated florists in all of USA.

                </div>
            </div>
        </div>
    </div>
</div>



