
@{
    ViewBag.Title = "TermsConditions";
}

<div class="banner">
    <div class="wrapper1">
        <img src="~/Content/Images/NewImages/banners/01.jpg" />

    </div>
</div>

<div class="main_content ">
    <div class="wrapper">
        <div class="subpage product-listpage">
            <h2 class="border-bottom mt-3">Terms &amp; Conditions</h2>
            <div class="row">
                <div class="col-lg-12 genparas">
                    <p>Flower bouquets once ordered and delivered cannot be cancelled.</p>
                    <p>Please note that the images of flowers and other accessories depicted in the website may slightly differ from actual contrast and shade.</p>
                    <p>Prices stated on our site are subject to change in taxes, seasonal pricing etc. without prior notice.</p>
                    <p>Certain flowers and accessories may not be available depending on the season and stock availability. </p>
                    <p>All home delivery orders must be placed at least 24 hours via phone or online from the time of the designated day.</p>
                    <p>Payment information provided over the phone via our contact agent is completely secure and Petal Price will not indulge in sharing activity of its customer’s financial data to any third party in any form.</p>
                    <p>Petal Price complies and agrees accordingly with all the rules and regulations conferred by the federal financial department.  Although, Petal Price does not refund or guarantee if there was a technical glitch or error from customer’s end.</p>
                    <p>Payments must be made via our contact agent over the phone for all door delivery orders and Petal Price does not offer Cash-on-Delivery services.</p>
                    <p>Any decision taken by the Petal Price Management is final and is irreversible. Petal Price reserves the right to alter, change, and modify the terms and conditions of our services accordingly.</p>
                    <p>All the legal issues or petitions against Petal Price and its services are handled within in the jurisdiction and civil courts of the Philadelphia,PA.</p>
                </div>
            </div>
        </div>
    </div>
</div>



